@charset "utf-8";

@font-face {
	font-family: 'NanumSquareR';
	src: url(https://qutabase.github.io/fonts/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSquareB';
	src: url(https://qutabase.github.io/fonts/NanumSquareB.ttf) format('truetype');
}

body {
	font-family: "NanumSquareB", "나눔스퀘어", "맑은 고딕";	
}