
a {
	color: #273869;
	text-decoration: none;
}

#menu {
	position: fixed;
	z-index: 9;
	top: 0px; left: -280px;
	width: 320px; height: 100%;
	background: #FFEB3B;
	text-align: center;
	padding: 0px;
	transition: left 0.3s;
}

#menu:hover{
	left: 0px;
}

#menu_list {
	padding: 5px;
	background: #FFFA7A;
}

#menu_list li{
	list-style: none;
	cursor: pointer;
	padding: 5px;
	background: #FFE31E;
}

#list_skill {
	transition: display 0.3s;
}
#list_skill li{
	list-style: none;
	cursor: pointer;
	padding: 5px;
	background: #FFFF93;
}