body {
	text-align: center;
	margin: 0px;
	font-size: 24px;
	background-image: url(bg.png);
	color: #273869;
	min-width: 372px;
}
div {
	display: inline-block;
	float: left;
	padding: 4px 9px;
	margin: 1px;
	background: #e3e4ee;

}

article {
	margin: 10px auto;
	margin-left: 40px;
	width: calc(100% - 50px); height: 100%;
	max-width: 812px; max-height: 901px;
	display: inline-block;
	background: #dddddd;
	overflow: hidden;
}

footer {
	margin-left: 40px;
	color: white;
}

::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #FFFF93;}
::-webkit-scrollbar-track {background: #FFFF93;}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #FFD400;}


#kodex_form{
	background: rgba(0, 0, 0, 0.5);
}

#logo {
	max-width: 550px;
	margin-left: 40px;
	margin-top: 20px;
}

#kodex_srch {

	font-family: "NanumSquareB", "맑은 고딕";
	width: calc(100% - 55px);
	max-width: 700px;
	text-align: left;
	margin-left: 40px;
	font-size: 21px;

	
}

#kodex_exmpl {

	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: block;
	float: left;
	min-width: 160px;
	max-height: 260px;
	overflow-y:	auto;
	font-size: 18px;
	padding: 5px;
	margin: 2px 0 0;
	color: #373a3c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: .2rem;

}

#kodex_exmpl li {
	list-style: none;
	padding: 3px;
	cursor: pointer;
	background: white;
}

#kodex_exmpl li:hover {
	background: #e3e4ee;
}
