article {
	width: 1440px;
	max-width: none;
	/*background: white;*/
}
section {
	width: 720px; height: 246px;
	display: inline-block;
	/*background: #e3e4ee;*/
	float: left;
	font-size: 18px;
}
div {
	margin: 0px 2px;
	padding: 0px;
}

#kodex_simExmpl {

	position: absolute;
	top: 100%;
	left: 0px;	
	z-index: 1000;
	display: block;
	float: left;
	min-width: 160px;
	max-height: 260px;
	overflow-y:	auto;
	font-size: 18px;
	padding: 5px;
	margin: 2px 0 0;
	color: #373a3c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: .2rem;

}

#kodex_simExmpl li {
	list-style: none;
	padding: 3px;
	cursor: pointer;
	background: white;
}

#kodex_simExmpl li:hover {
	background: #e3e4ee;
}

.deck_ind {
	width: calc(25% - 4px);
	margin: 2px;
	padding: 5px 0px;
	background: #5A688A;
	color: white;
}

.deck_detail {
	width: calc(75% - 4px);
	margin: 2px;
	padding: 5px 0px;
	background: #b1baca;
	color: #273869;
}

#simul_index_LT {
	width: 50%;
	position: relative;
}
#simul_index_RB {
	width: 50%;
	position: relative;
}
#simul_index_deck {
	width: 331px;
	height: calc(100% - 53px);
	margin: 5px;
	background: #dddddd;
}
#simul_index_ind {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: -720px;
}
.simul_ind {
	width: 50%;
	margin: 2px 0px;
	padding: 0px; padding-right: 100%;
	font-size: 20px;
	line-height: 41px;
	background: #273869;
	color: white;

}
.simul_kodex {
	width: 100%;	height: 41px;
	margin: 2px 0px;
	padding: 0px;
	font-size: 20px;
	line-height: 41px;
	color: white;

}
.kodex_sim_inp {
	font-family: "NanumSquareB", "맑은 고딕";
	width: 100%; height: 39px;
	text-align: center;
	font-size: 20px;
	border: none;
}
.kodex_img {
	width: 41px; height: 41px;
	cursor: pointer;
}
.kodex_name {
	width: calc(31% - 4px);
	/*background: #FFE746;*/
	overflow: hidden;
}
.kodex_lv {
	width: 6.5%;
}
.kodex_bind {
	width: 6.5%;
}
.kodex_atk {
	width: 8%;
	background: #E62E2E;
	color: white;
}
.kodex_hp {
	width: 8%;
	background: #264BCC;
	color: white;
}
.kodex_spr {
	width: 8%;
	background: #20AD20;
	color: white;
}
.kodex_skill {
	width: 21.9%;
	color: white;
}


@media (max-width: 1000px){
	article {
		width: calc(100% - 40px);
		max-height: none;
	}
	section {
		width: 100% !important;
	}
	#simul_index_ind {
		width: 100%;
		padding-right: 0;
		left: 0;
	}
}