article {
	position: relative;
}
.kodex_vs_inp {
	font-family: "NanumSquareB", "맑은 고딕";
	width: 100%;
	max-width: 700px;
	text-align: left;
	font-size: 21px;

}
.kodex_statchart {
	width: calc(100% / 9 - 2.01px);
	padding: 0px;
	/*background: #dddddd;*/
}
.kodex_stat {
	width: calc(100% - 18px);
	margin: 0px;
	margin-bottom: 2px;
	padding: 10px 9px;
	background: #e3e4ee;
}
.kodex_head {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	margin-right: 2px;
	height: 59px;
	line-height: 56px;
	float: none;
}
#kodex_vs_header_m {
	width: 350px;
	padding: 0px;
}
#kodex_vs_rarity_m {
	width: calc(50% - 20px);
	color: white;
	font-size: 32px;
	/*padding-top: 20px; padding-bottom: 20px;*/
}
#kodex_vs_name_m {
	width: calc(100% - 20px);
	color: white;
	font-size: 32px;
	margin-bottom: 2px;
	cursor: pointer;
}
#kodex_vs_cst_m {
	width: calc(50% - 20px);
	/*padding-top: 20px; padding-bottom: 20px;*/
}
#kodex_vs_skill {
	width: 292px; height: 128px;
	line-height: 128px;
	font-size: 33px;
	color: white;
	cursor: pointer;
}
#kodex_vs_face:hover {
	opacity: 0.7;
}

#kodex_vsB_header_m {
	width: 400px;
	padding: 0px;
	position: absolute; bottom: 0px; right: 148px;
}
#kodex_vsB_rarity_m {
	width: calc(50% - 20px);
	color: white;
	font-size: 32px;
	/*padding-top: 20px; padding-bottom: 20px;*/
}
#kodex_vsB_name_m {
	width: calc(100% - 20px);
	color: white;
	font-size: 32px;
	margin-top: 2px;
	cursor: pointer;
}
#kodex_vsB_cst_m {
	width: calc(50% - 20px);
	/*padding-top: 20px; padding-bottom: 20px;*/
}
#kodex_vsB_skill {
	width: 242px; height: 128px;
	line-height: 128px;
	font-size: 33px;
	color: white;
	cursor: pointer;
	position: absolute; bottom: 0px; left: 0px;
}
#kodex_vsB_face:hover {
	opacity: 0.7;
}

#kodex_vs_skill:hover {
	opacity: 0.7;
}
#kodex_vsB_skill:hover {
	opacity: 0.7;
}
#kodex_vs_name_m:hover {
	opacity: 0.7;
}
#kodex_vsB_name_m:hover {
	opacity: 0.7;
}

#kodex_vsExmpl {

	position: absolute;
	top: 100%;
	left: 0px;	
	z-index: 1000;
	display: block;
	float: left;
	min-width: 160px;
	max-height: 260px;
	overflow-y:	auto;
	font-size: 18px;
	padding: 5px;
	margin: 2px 0 0;
	color: #373a3c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: .2rem;

}

#kodex_vsExmpl li {
	list-style: none;
	padding: 3px;
	cursor: pointer;
	background: white;
}

#kodex_vsExmpl li:hover {
	background: #e3e4ee;
}