

#kodex_vs_info {
	position: relative;
	text-align: center;
	line-height: 40px;
}

#info_imgBox {
	margin-bottom: 2px;
	margin-right: 5px;
}

#info_rarity {
	width: 18%; height: 62px;
	line-height: 64px;
	margin: 2px;
	margin-top: 0px;
}

#info_skill {
	width: calc(82% - 141.01px); height: 62px;
	line-height: 64px;
	margin: 2px;
	margin-top: 0px;
	color: white;
	cursor: pointer;
}

#info_skill:hover {
	opacity: 0.7;
}

#info_name {
	width: calc(100% - 137.01px); height: 62px;
	line-height: 64px;
	margin: 2px;
}

#info_input {
	font-family: "NanumSquareB", "맑은 고딕";
	width: calc(100% - 4px); height: 39px;
	text-align: center;
	font-size: 24px;
	border: none;
	padding: 0px;
}

#info_effectBox {
	float: none;
	margin-top: 3px;
	margin-bottom: 5px;
	width: 100%;
	height: 100px;
	background: green;
}

#info_effectBox:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#info_effect {
	float: none;
	background: green;
	color: white;
	font-size: 20px;
	line-height: initial;
  display: inline-block;
  vertical-align: middle;
}

#info_bind {
	font-family: "NanumSquareB", "맑은 고딕";
	width: 30px; height: 27px;
	text-align: center;
	font-size: 24px;
	border: none;
	padding: 0px;
}

.info_statchart {
	height: 196px; /*width is in html*/
	padding: 0px;
	background: #dddddd;
	line-height: 27px;
}
.info_stat {
	width: calc(100% - 18px); height: 27px;
	margin-bottom: 2px;
	padding: 10px 9px;
	background: #E3E4EE;
}