#rewards_event {
	height: calc(100% - 75px);
	background: #FFE631;
}

#rewards_event_list {
	width: calc(50% - 17.5px); height: calc(100% - 18px);
	padding: 4px 5px;
	margin: 5px; margin-right: 0px;
	background: #FFFA7A;
	line-height: 41px;
}

#rewards_event_list_box {
	background: #FFEB3B;
	width: calc(100% - 8px);
	height: calc(100% - 54px);
	margin: 5px 0px;
	padding: 4px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#rewards_event_list_box::-webkit-scrollbar {
	display: none;
}

.rewards_event_list_box_point {
	background: #FFFF93;
	width: calc(100% - 10px); height: calc(10% - 10px);
	line-height: 56px;
	font-size: 20px;
	padding: 5px;
	margin: 0px;

}
.box_point_num {
	width: 23%;
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px;
}
.box_point_img {
	height: 100%;
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 0px;
}
.box_point_img_src {
	height: 100%;
}
.box_point_reward {
	width: calc(100% - 212px);
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px 0px;
}
.box_point_quan {
	width: 62.7px;
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px 0px;
}

#rewards_event_point {
	width: calc(50% - 17.5px); height: calc(8% - 16.5px);
	padding: 4px 5px;
	margin: 5px;
	background: #FFFA7A;
}

#point_goal {
	width: 87px;
	height: 30px;
	margin: 5px;
	text-align: center;
	font-family: "NanumSquareB", "나눔스퀘어", "맑은 고딕";
	font-size: 22px;
	border: none;
	background: #FFE631;	
}

#rewards_event_result {
	width: calc(50% - 17.5px); height: calc(92% - 14.5px);
	padding: 4px 5px;
	margin: 5px; margin-top: 0px;
	background: #FFFA7A;
}

#event_result_box {
	line-height: 40px;
	width: 100%;
	height: calc(100% - 37px);
	margin: 0px;
	padding: 0px;
	background: #FFEB3B;
}

.event_result_box_img {
	margin: 8.5px; margin-right: 0px;
	padding: 0px;
}
.event_result_box_item {
	width: 50%;
	height: calc(100% / 8); 
	margin: 0px;
	padding: 0px;
	line-height: 77px;
}