#rewards_inf {
	height: calc(100% - 75px);
	background: #FFE631;
}

#rewards_inf_list {
	width: calc(50% - 17.5px); height: calc(100% - 18px);
	padding: 4px 5px;
	margin: 5px; margin-right: 0px;
	background: #FFFA7A;
	line-height: 40px;
}

#rewards_inf_list_fSelect{
	height: 30px;
	margin: 5px;
	font-family: "NanumSquareB", "나눔스퀘어", "맑은 고딕";
	font-size: 22px;
	border: none;
	background: #FFE631;
}

#rewards_inf_list_box {
	background: #FFEB3B;
	width: calc(100% - 8px);
	height: calc(100% - 54px);
	margin: 5px 0px;
	padding: 4px;
}

.rewards_inf_list_box_floor {
	background: #FFFF93;
	width: calc(100% - 10px); height: calc(10% - 10px);
	line-height: 56px;
	font-size: 20px;
	padding: 5px;
	margin: 0px;

}
.box_floor_num {
	width: calc(19% - 4px);
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px;
}
.box_floor_img {
	height: 100%;
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 0px;
}
.box_floor_img_src {
	height: 100%;
}
.box_floor_reward {
	width: calc(100% - 173.5px);
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px 0px;
}
.box_floor_quan {
	width: 35.6px;
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px;
}

#rewards_inf_floor {
	width: calc(50% - 17.5px); height: calc(8% - 16.5px);
	padding: 4px 5px;
	margin: 5px;
	background: #FFFA7A;
}

#floor_goal {
	height: 30px;
	margin: 5px;
	text-align: center;
	font-family: "NanumSquareB", "나눔스퀘어", "맑은 고딕";
	font-size: 22px;
	border: none;
	background: #FFE631;	
}

#rewards_inf_result {
	width: calc(50% - 17.5px); height: calc(92% - 14.5px);
	padding: 4px 5px;
	margin: 5px; margin-top: 0px;
	background: #FFFA7A;
}

#inf_result_box {
	line-height: 40px;
	width: 100%;
	height: calc(100% - 37px);
	margin: 0px;
	padding: 0px;
	font-size: 21px;
}

.inf_result_box_img {
	margin: 14px; margin-right: 0px;
	padding: 0px;
}
.inf_result_box_item {
	width: 33%;
	height: calc(100% / 8); 
	margin: 0px;
	padding: 0px;
	line-height: 68px;
}