article {
	width: 812px; height: 802px;
	background: #FFFF93;
}

div {
	background: #FFEB3B;
}

#rewards_select_list {
	padding: 0px;
	margin: 0px;
}

#rewards_select_list li{
	list-style: none;
	display: inline-block;
	width: calc(50% - 2px);
	padding: 24px 1px;
	margin: 0px;
}
#rewards_select_list li:hover{
	background: #FFD300;
	opacity: 0.7;
}

#rewards_event {
	height: calc(100% - 75px);	
}

#rewards_inf {
	height: calc(100% - 75px);
	background: #FFE631;
}

#rewards_inf_list {
	width: calc(50% - 17.5px); height: calc(100% - 18px);
	padding: 4px 5px;
	margin: 5px; margin-right: 0px;
	background: #FFFA7A;
}

#rewards_inf_list_fSelect{
	height: 30px;
	margin: 5px;
	font-family: "NanumSquareB", "나눔스퀘어", "맑은 고딕";
	font-size: 22px;
	border: none;
	background: #FFE631;
}

#rewards_inf_list_box {
	background: #FFEB3B;
	width: calc(100% - 8px);
	height: calc(100% - 54px);
	margin: 5px 0px;
	padding: 4px;
}

.rewards_inf_list_box_floor {
	background: #FFFF93;
	width: calc(100% - 10px); height: calc(10% - 10px);
	line-height: 56px;
	font-size: 20px;
	padding: 5px;
	margin: 0px;

}
.floor_num {
	width: calc(19% - 4px);
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px;
}
.floor_img {
	height: 100%;
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 0px;
}
.floor_img_src {
	height: 100%;
}
.floor_quan {
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px;
}
.floor_reward {
	width: calc(100% - 173.5px);
	height: calc(100% - 8px);
	line-height: 46px;
	background: #FFEC3A;
	margin: 0px;
	padding: 4px 0px;
}

#rewards_inf_floor {
	width: calc(50% - 17.5px); height: calc(50% - 15.5px);
	padding: 4px 5px;
	margin: 5px;
	background: #FFFA7A;
}

#rewards_inf_result {
	width: calc(50% - 17.5px); height: calc(50% - 15.5px);
	padding: 4px 5px;
	margin: 5px; margin-top: 0px;
	background: #FFFA7A;
}