div {
	padding: 10px 0px; margin: 0px;
}
#kodex_list {
	width: 812px;
	overflow-y: auto;
	max-height: 440px;
}
#html_role {
	width: 100%; max-width: 812px;
	color: white;
	font-size: 32px;
}
#skill_checker {
	width: 100%; padding: 10px 0px;
	line-height: 30px;
	display: inline-block;
	background: #FFEB3B;
	text-align: left;
}
#index {
	width: 804px;
}
.selecter {
	background: transparent;
	margin: 0px 5px;
	display: inline-block;
	font-size: 22px;
}
.kodex {
	width: 100%;
	margin: 5px 0px;
	padding: 0px;
	font-size: 20px;
}
.kodex_rarity {
	width: 7%;
}
.kodex_name {
	width: 26%;
}
.kodex_skill {
	width: 18%;
}
.kodex_ATK_0 {
	width: 7%;
}
.kodex_HP_0 {
	width: 7%;
}
.kodex_faction {
	width: 10%;
}
.kodex_illustrator {
	width: 25%;
}