body {
	/*min-width: 812px;*/
}
div {
	padding: 10px 0px;
	margin: 0px;
}
article {
	height: 766px;
	position: relative;
	background: #FFFA7A;
}
#index {
	position: absolute;
	top: 0px; left: 0px;
	background: #273869; color: white;
	margin-top: 0px;
	padding: 5px 0px; padding-right: 8px;
}
#kodex_list {
	position: absolute;
	top: 226px; left: 0px;
	width: 100%;
	overflow-x: scroll;
	max-height: 540px;
}
#html_role {
	width: 100%;
	color: white;
	font-size: 32px;
}
#skill_checker {
	width: 100%; height: 150px;
	overflow-y: auto;
	padding: 10px 0px;
	line-height: 30px;
	display: inline-block;
	background: #FFFA7A;
}
#index {
	/*width: 804px;*/
}
.selecter {
	background: transparent;
	height: 30px;
	display: inline-block;
	font-size: 22px;
}
label {
	margin: 2px 5px;
	padding: 5px 7px;
}
label:hover {
	background: #FFD400;
}
input[type="checkbox"] {
	display: none;
}
.kodex {
	width: 804px; height: 43px;
	margin: 5px 0px;
	padding: 0px;
	padding-right: 8px;
	font-size: 20px;
	background: #FFE631;
	overflow-x: visible;
}
.kodex:hover a{
	color: white; !important
}
.kodex_thumb {
	padding: 0px;
	width: 55px; height: 43px;
	background: transparent;
}
.kodex_rarity {
	width: 6%;
	background: transparent;
}
.kodex_name {
	width: 26%;
	background: transparent;
}
.kodex_skill {
	width: 19%;
	background: transparent;
}
.kodex_ATK_0 {
	width: 7%;
	background: transparent;
}
.kodex_HP_0 {
	width: 7%;
	background: transparent;
}
.kodex_SPR_0 {
	width: 7%;
	background: transparent;
}
.kodex_faction {
	width: 10%;
	background: transparent;
}
.kodex_illustrator {
	width: 25%;
	background: transparent;
}