div {
	padding: 10px 0px; margin: 0px;
}
article {
	background: #FFE631;
}
#index {
	background: #273869; color: white;
	margin-top: 0px;
	padding: 5px 0px; padding-right: 8px;
}
#kodex_list {
	width: 812px;
	overflow-y: auto;
	max-height: 540px;
}
#html_role {
	width: 100%; max-width: 812px;
	color: white;
	font-size: 32px;
}
#skill_checker {
	width: 100%; padding: 10px 0px;
	line-height: 30px;
	display: inline-block;
	background: #FFEB3B;
}
#index {
	width: 804px;
}
.selecter {
	background: transparent;
	margin: 0px 5px;
	display: inline-block;
	font-size: 22px;
}
.kodex {
	width: 100%; height: 43px;
	margin: 5px 0px;
	padding: 0px;
	font-size: 20px;
	background: #FFFA7A;
}
.kodex:hover a{
	color: white; !important
}
.kodex_rarity {
	width: 6%;
	background: transparent;
}
.kodex_name {
	width: 26%;
	background: transparent;
}
.kodex_skill {
	width: 19%;
	background: transparent;
}
.kodex_ATK_0 {
	width: 7%;
	background: transparent;
}
.kodex_HP_0 {
	width: 7%;
	background: transparent;
}
.kodex_faction {
	width: 10%;
	background: transparent;
}
.kodex_illustrator {
	width: 25%;
	background: transparent;
}